@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
body{
    height: 500px, 100%;
    width: 300px, 100%;
    color: black;
    text-align: center;
    font-size: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-family: 'Noto Sans SC', sans-serif;
}
button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
